@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

i .icon {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
    @apply w-4/5 mx-auto;
}

.fullscreen {
  @apply w-screen h-screen min-h-screen
}

.fullsize {
  @apply w-full h-full
}

/* Override Semantic UI Modal styles */
.ui.top.dimmer {
  background: none !important;
  padding: 0 !important;
}

#custom__modal .ui.tiny.modal {
  margin: 0 !important;
}

#custom__modal input:focus {
  outline: none !important;
}

#custom__modal.modal {
  // Equal to mt-2
  margin: 0.5rem 0 0 0 !important
}
